<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Nefrapp</display-name>
  <welcome-file-list>
    <welcome-file>/dashboard.jsp</welcome-file>
  </welcome-file-list>
  
  <session-config>   
      <session-timeout>100</session-timeout>   
  </session-config> 
    
  <servlet>
    <servlet-name>GestioneParametri</servlet-name>
    <servlet-class>control.GestioneParametri</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GestioneParametri</servlet-name>
    <url-pattern>/parametri</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GestionePianoTerapeutico</servlet-name>
    <servlet-class>control.GestionePianoTerapeutico</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GestionePianoTerapeutico</servlet-name>
    <url-pattern>/piano</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GestioneMessaggi</servlet-name>
    <servlet-class>control.GestioneMessaggi</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GestioneMessaggi</servlet-name>
    <url-pattern>/messaggio</url-pattern>
  </servlet-mapping>
      <servlet>
      
    <servlet-name>GestioneAnnunci</servlet-name>
    <servlet-class>control.GestioneAnnunci</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>GestioneAnnunci</servlet-name>
    <url-pattern>/annuncio</url-pattern>
  </servlet-mapping>

</web-app>